.todo-item {
  padding: 0.75em 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--bg-color);
}
.check-button {
  width: 1.55em;
  height: 1.55em;
  margin-right: 1em;
  background-color: var(--bg-color);
  border: 1px solid var(--border-color);
  border-radius: 50%;
  cursor: pointer;
}
.todo-text {
  margin-right: auto;
  color: var(--text-color);
}
.delete-button {
  border: none;
  background-color: var(--bg-color);
  cursor: pointer;
}

.completed > .todo-text {
  text-decoration: line-through;
}
.completed > .check-button {
  background: url(../img/icon-check.svg), var(--Check-Background);
  background-position: center;
  background-repeat: no-repeat;
}
