:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --Check-Background: linear-gradient(
    130deg,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  );
}

.dark-theme {
  --body-bg-color: hsl(235, 21%, 11%);
  --bg-color: hsl(235, 24%, 19%);
  --text-color: hsl(234, 11%, 52%);
  --text-second-color: hsl(236, 9%, 61%);
  --border-color: hsl(234, 11%, 52%);
  --shadow-color: none;
}

.light-theme {
  --body-bg-color: white;
  --bg-color: white;
  --text-color: hsl(235, 19%, 35%);
  --text-second-color: hsl(236, 9%, 61%);
  --border-color: hsl(233, 11%, 84%);
  --shadow-color: hsl(233, 11%, 84%);
}

* {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
  background-color: var(--body-bg-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
